@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/alt-screen-header.css";
@import "components/badge.css";
@import "components/dot.css";
@import "components/icon-row.css";
@import "components/modal-component.css";
@import "components/nav-bar.css";
@import "components/no-mobile.css";
@import "components/screen-header.css";
@import "components/status-bar.css";
@import "components/sub-screen.css";
@import "components/user-component.css";

/* Screens */

@import "screens/chat.css";
@import "screens/chats.css";
@import "screens/friends.css";
@import "screens/login.css";
@import "screens/map.css";
@import "screens/more.css";
@import "screens/music.css";
@import "screens/qrscan.css";
@import "screens/search.css";
@import "screens/settings.css";
@import "screens/shop.css";

body {
  font-family: "Open Sans", sans-serif;
  margin: 110px 0 100px 0;
  color: var(--font-color);
  background-color: white;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

.status-bar .fa-bullhorn {
  color: red;
}
