/* chats.html */
/* 광고(jpg->gif) */
.chats__ad {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px 30px;
}

.chats__ad img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.chats__ad__icon {
  bottom: 80px;
  right: 40px;
  position: relative;
}

.fa-ad {
  color: var(--blue);
}
