.chats__ad {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px 30px;
}

.chats__ad img {
  width: 450px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.chats__ad__icon {
  position: relative;
  bottom: 80px;
  right: 40px;
}

.fa-ad {
  color: var(--blue);
}

.chats-karina {
  border-bottom: var(--main-border);
}

#weather {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#weather img {
  background-color: white;
}

.weather__city {
  font-size: 16px;
  color: var(--dark-gray);
}

.weather__info {
  font-size: 20px;
  font-weight: 600;
  color: var(--font-color);
}
