#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  color: var(--light-gray);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid var(--light-gray);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--dark-gray);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}

.friends-screen-updated {
  margin-top: 25px;
  border-top: 1px solid var(--light-gray);
  padding-top: 15px;
}

.friends-screen-updated__header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--dark-gray);
}

.friends-screen-updated__list {
  display: flex;
}

.friends-screen-updated__list__one {
  margin-right: 20px;
}

.friends-screen-updated__list__one__avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 22px;
  background-color: var(--light-gray);
}

.friends-screen-updated__list__one__text {
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
}
