/* search.html */
.search-screen {
  margin: 45px 0 20px 0;
  font-size: 18px;
  background-color: var(--pale-gray);
}

.search-screen .status-bar {
  background-color: var(--pale-gray);
}

.search-box {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.search-box h2 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
}

/* 검색창, 최근 검색 */
.search-box--search .search-box__row,
.search-box--recent .search-box__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 검색창 */
.search-box--search {
  margin: 0;
  padding: 0 20px;
  background-color: var(--pale-gray);
}

.search-box .fa-arrow-left {
  padding-right: 5px;
}

.search-box--search__row {
  margin: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--light-gray);
}

.search-box--search .fa-arrow-left {
  padding: 10px;
}

.search-box--search input {
  width: 85%;
  font-size: 20px;
  border: none;
  background-color: var(--light-gray);
}

/* 최근 검색 */
.search-box__row__column__light-gray {
  color: var(--light-gray);
}

.search-box__row__column__dark-gray {
  color: var(--dark-gray);
}

.search-box__row__column__center {
  display: block;
  text-align: center;
  justify-content: center;
  padding: 30px 20px 10px 20px;
}

/* 오픈채팅 추천 키워드, 채널 추천 키워드 */
.search-box--openchatting span,
.search-box--channel span {
  margin: 10px 5px 0 0;
  padding: 10px 12px;
  display: inline-block;
  border-radius: 20px;
  background-color: var(--pale-gray);
}

/* 추천 이모티콘 스타일 */
.search-box--imoticon .search-box__row {
  display: flex;
  align-items: center;
}

.search-box--imoticon img {
  width: 140px;
  height: 140px;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 10px;
}

.search-box--imoticon .search-box__row:last-child {
  height: 205px;
  overflow: scroll;
}

.search-box--imoticon .search-box__row__imoticon-box:last-child {
  padding-right: 0;
}

.search-box__row__imoticon-box {
  padding: 10px 10px 0 0;
  text-align: center;
  object-fit: cover;
}
