#settings-screen {
  background-color: white;
}

#settings-screen .alt-header,
#settings-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

#settings-screen .status-bar {
  z-index: 2;
}

#settings-screen .alt-header {
  top: 10px;
  z-index: 1;
}

.settings {
  border-bottom: 1px solid var(--light-gray);
}

.settings__setting {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
}

.settings__setting:last-child {
  border: none;
}

.settings__setting i {
  font-size: 22px;
}

.settings__setting-column i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting-column:first-child {
  width: 40px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting-column:last-child {
  color: var(--font-color);
}

.help {
  border: none;
}
