.shopping {
  border-bottom: var(--main-border);
}

.icon-row {
  padding: 30px 0;
  font-size: 14px;
}

.recommend__list {
  display: flex;
  padding-bottom: 30px;
}

.recommend__list__icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: var(--dark-gray);
}

.recommend__list__keywords {
  padding: 15px 0;
}

.recommend__list__keywords span {
  display: inline-flexbox;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid var(--light-blue);
  color: var(--blue);
}

.recommend__search {
  margin: 30px 0 20px 0;
  padding-left: 5px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--pale-gray);
}

.recommend__search .fa-search {
  padding: 10px;
  color: var(--blue);
}

.recommend__search input {
  width: 85%;
  font-size: 20px;
  border: none;
  background-color: var(--pale-gray);
}

.td {
  border-top: 12px solid var(--pale-gray);
}

.td-box__header {
  margin: 30px 0 20px 0;
  display: flex;
  justify-content: space-between;
  color: var(--font-color);
}

.td-box__header h4 {
  font-size: 20px;
  font-weight: 600;
}

.td-box__content {
  display: flex;
  justify-content: space-between;
}

.ad img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.ad__icon {
  position: relative;
}

.fa-ad {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 165px;
  left: 10px;
  color: var(--blue);
}

.td-box__content__photo {
  position: relative;
}

.td-box__content__photo img {
  width: 210px;
  height: 140px;
  object-fit: cover;
  border-radius: 5px;
}

.td-box__content__heart {
  color: white;
  padding: 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  background-color: var(--blue);
}

.td-box__content__heart span {
  margin-left: 3px;
}

@keyframes hrtBeat {
  0% {
    color: white;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
  }
}

.td-box__content__heart:hover i {
  will-change: transform;
  animation: hrtBeat 1s linear infinite;
}
