.badge,
.no-badge {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
  background-color: tomato;
}

.badge2 {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: var(--font-color);
}

.no-badge {
  background-color: white;
}

.hidden {
  visibility: hidden;
}
