/* nav-bar */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--pale-gray);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid var(--light-gray);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: var(--font-color);
}

/* nav-bar chats 아이콘의 배지 */
.nav__chat {
  position: absolute;
  left: 20px;
  bottom: 15px;
  animation: bdgFloat 2s ease-in-out infinite;
}

@keyframes bdgFloat {
  50% {
    transform: translateY(-5px);
  }
}

/* nav-bar의 점 */
.dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__more {
  position: absolute;
  left: 30px;
  bottom: 28px;
  animation: dotBlink 2s ease-in-out infinite;
}

@keyframes dotBlink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* nav-bar의 팝업 효과 */
@keyframes btnPopup {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  transform: translateY(80px);
  animation: btnPopup 0.6s ease-in-out forwards;
  opacity: 0;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.4s;
}
.nav__btn:last-child {
  animation-delay: 0.6s;
}
