.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin: 15px 0;
}

.screen {
  background-color: white;
}

.screen .screen-header,
.screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

.screen .status-bar {
  z-index: 2;
}

.screen .screen-header {
  top: 10px;
  z-index: 1;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

@keyframes cogRotate {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: cogRotate 1.5s linear infinite;
}
