/* friends.html, chats.html, shop.html, more.html의 헤더 */
.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin: 15px 0;
}

.screen {
  background-color: white;
}

.screen .screen-header,
.screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

.screen .status-bar {
  z-index: 2;
}

.screen .screen-header {
  top: 10px;
  z-index: 1;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

/* search 아이콘 */
@keyframes moving {
  50% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.screen-header__icons .fa-search:hover {
  will-change: transform;
  animation: moving 1s ease-in-out infinite;
}

/* qrscan 아이콘 */
@keyframes blinking {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.screen-header__icons .fa-qrcode:hover {
  will-change: transform;
  animation: blinking 1s ease-in-out infinite;
}

/* music 아이콘 */
@keyframes translating {
  50% {
    transform: translateY(-5px);
  }
}

.screen-header__icons .fa-music:hover {
  animation: translating 1s ease-in-out infinite;
}

/* settings 아이콘 */
@keyframes rotating {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotating 2s linear infinite;
}
