.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 26px;
  margin-right: 20px;
  background-color: var(--light-gray);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 20px;
  background-color: rgba(131, 194, 212, 1);
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 22px;
  margin-right: 20px;
  background-color: var(--light-gray);
}

.user-component__avatar--sm-birthday {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 22px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(245, 106, 113, 1);
}

.user-component__avatar--sm-channel {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 22px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgba(250, 225, 0, 1);
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 18px;
  color: var(--dark-gray);
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}
